body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.navbar {
  background: gray;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-start;
}

.end {
  justify-content: flex-end;
}

#dropdownMenuButton {
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

#dropdownMenuButton:hover {
  color: black;
}
